div
  div
    img.avatar(src="img/avatar.svg" alt="Avatar")
  div
    a(href='google.com') Политика конфиденциальности
    a(href='google.com') Отказ от ответственности
    a(href='google.com') Согласие с рассылкой
  div
    div
      img.phone(src="img/phone.svg" alt="Phone")
    div
      p 8 800 000-00-00
      p Звонок бесплатный
