div
  div
    img.avatar(src="img/avatar.svg" alt="Avatar")
  div
    p Доставка по всей России
  div
    div
      img.phone(src="img/phone.svg" alt="Phone")
    div
      p 8 800 000-00-00
      p Звонок бесплатный

